<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util.xsd">
    <context:component-scan base-package="com.gaigai.webzeroc2"/>


    <!--配置一个切面-->
    <bean id="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!--增强-->
        <property name="advice" ref="greetingIntroAdvice"/>
        <!--切点 正则表达式-->
        <property name="pattern" value="com.gaigai.webzeroc2.proxy.springaop.GreetingImpl.good.*"/>
    </bean>

    <!-- 配置一个代理 -->
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--方法的动态代理-->
        <!--<property name="interfaces" value="com.gaigai.webzeroc2.proxy.springaop.Greeting"/>-->
        <!--<property name="target" ref="greetingImpl"/>-->
        <!--<property name="interceptorNames">-->
            <!--<list>-->
                <!--<value>greetingAroundAdvice</value>-->
                <!--<value>greetingThrowAdvice</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--类的注入-->
        <property name="interfaces" value="com.gaigai.webzeroc2.proxy.springaop.Apology"/>
        <!--  需要动态实现的接口-->
        <property name="target" ref="greetingImpl"/>
        <!--目标类-->
        <!--<property name="interceptorNames" value="greetingIntroAdvice"/>-->
        <property name="interceptorNames" value="greetingAdvisor"/>
        <!--代理目标类 （默认为false，代理接口-->
        <property name="proxyTargetClass" value="true"/>


    </bean>

</beans>